body {
  background-color: #e3dad2;
  font-family: "Baskervville", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h1,
h2,
h3 {
  font-family: "Fredericka the Great", serif;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 2px;
}

/* BASE TEMPLATE */
.navbar-brand {
  margin: 0px;
}

main {
  flex: 1;
}

.page-wrapper {
  min-height: 100vh; /* make body at least the full screen height */
  display: flex;
  flex-direction: column; /* stack content vertically */
}

.page-wrapper > footer {
  margin-top: auto; /* push footer to the bottom */
}

footer .navbar-nav .nav-item {
  flex: 1;
  display: flex;
  justify-content: center;
}

footer .navbar-nav {
  padding: 20px 0 20px 0;
}

/* BOOKING LIST TEMPLATE */

.btn-warning {
  background-color: #555350;
  border: 0;
  color: #e3dad2;
  letter-spacing: 1px;
}

.btn-danger {
  margin-top: 0.5rem;
  background-color: #e3dad2;
  border: 0;
  letter-spacing: 1px;
  color: #555350;
}

/* BOOKING FORM TEMPLATE */
.book-btn {
  background-color: #555350 !important;
  border: none !important;
  color: #e3dad2 !important;
  font-weight: 300 !important;
}

/* SERVICES TEMPLATE */
.tb-services th {
  color: #555350;
}

.tb-services td {
  padding: 12px;
  vertical-align: top;
}

.category-heading {
  padding-left: 10px;
}
